doctype html
html
  head
    meta(charset='UTC-8')
    title Login
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/login.css')
  body 
    .auth.login 
      .heading 
        h1 odinbook 
        h2 Connect with friends and the world around you on Odinbook.
      .form
        form(action='/login' method='POST')
          input(type='text' placeholder='Username' required)
          input(type='password' placeholder='Password' required)
          button.auth-btn Log In
        button.auth-btn.fb-auth Log in with Facebook 
        a.form-switch-link(href='/signup')
          button.form-switch-btn New to Odinbook?